@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('Nunito-Bold.woff2') format('woff2'),
    url('Nunito-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('Nunito-Regular.woff2') format('woff2'),
    url('Nunito-Regular.woff') format('woff');
}
